footer {
    background-color: white !important;  /* Arka plan beyaz */
    color: black !important;  /* Tüm yazılar siyah */
  }
  
  footer a {
    text-decoration: none !important;
    color: black !important;
    
  }
  
  footer a:hover {
    text-decoration: underline !important;
    color: #333 !important;
  }
  
  .accordion-button {
    background-color: white !important;
    color: black !important;
    border: 1px solid #ccc !important;
  }
  
  .accordion-body {
    background-color: white !important;
    color: black !important;
  }
  
  .accordion-body a {
    color: black !important;
  }

  h5{
    color:lightgray;
  }
  h6{
    color:lightgray;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .text-white{
    margin-bottom: 40px;
    color:black !important;
    font-weight: 600;
  }
  .footer-p{
    font-size: 13px;
    padding: 10px;
    color: lightgray;
  }