
strong{
    color:#00C26D;
}
.first-h1{
    font-size: 40px;
    padding: 10px;;
    font-weight:700;
    margin-top: 50px;
}
.first-text{
    font-size:30px;
    padding: 10px;
    font-weight: 500;
}
.button-2{
    margin-left: 10px;
    background-color: #00C26D !important;
    padding: 10px 30px 10px 30px !important;
    color: white !important;
    font-weight: 600 !important;
    margin-bottom: 75px !important;
}

#desktop-img{
    width: 30rem;
    margin-top: 50px;
    margin-left: 150px;
}



