
strong{
    color:#00C26D;
}
h1{
    font-size: xx-large;
    padding: 10px;;
    font-weight:900;
}
p{
    font-size:x-large;
    padding: 10px;
    font-weight: 500;
}
.button-2{
    margin-left: 10px;
    background-color: #00C26D !important;
    padding: 10px 30px 10px 30px !important;
    color: white !important;
    font-weight: 600 !important;
    
    
}



